/* ─────────────────────────────────────────────────────────────
   13. Modals & Off-canvas
   ───────────────────────────────────────────────────────────── */

[dir="rtl"] .modal-header .btn-close {
    margin: -0.5rem auto -0.5rem -0.5rem;
}

[dir="rtl"] .offcanvas-start {
    left: auto;
    right: 0;
    transform: translateX(100%);
}

[dir="rtl"] .offcanvas-end {
    right: auto;
    left: 0;
    transform: translateX(-100%);
}


