<footer class="main-footer">
    <div class="d-flex justify-content-between align-items-center">
        <span>&copy; 2022-2026 Nosial. All rights reserved.</span>
        <span>Crafted with <i data-feather="heart" class="text-danger le-icon-14"></i></span>
    </div>
</footer>
